
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    /* we wanted font size to be 90px . and we know that 100% is 16px. so 90px/16 = 562.5%  */
     /* 1 em = 16px; */
    font-size: 5.625rem;
    margin: 0 auto 0 auto; 
    /* margin-bottom: 0; */

    

font-family: 'Sacramento', cursive;

/* height: 20px; */
}

h2 {
    font-size: 2.5rem;
    /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Bodoni Moda', serif, 'Montserrat', sans-serif; 

    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #111d5e;
}

/* #EAF6F6 */
hr {
     border: dotted grey 6px; /* 6px width. */
     border-bottom: none;
     width: 4%;
     margin: 100px auto;
 }

.top-container {
    background-color: #fde8cd;
    /* #ffe6e6; */
    

    /*  */
    /* ff9b93 */
    /*590995  */
    /* # e8ffff*/
    position: relative;
    padding-top: 100px;
}



.middle-container {
    /* padding-top: 80px; */
    margin: 100px 0;  /* 100p for top and bottom and 0 for right and left. */
}

.middle-container-intro {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   
}

p {
    line-height: 2;
}

.top-cloud {
    position: absolute;
    /* right: 280px;
    top: 50px; */

    right: 15%;
    top: 4%;

    height: 25%;
    width: 15%;
}

.bottom-cloud {
    position: absolute;
    /* left: 150px;
    bottom: 400px; */

    left: 10%;
    bottom: 55%;

    height: 25%;
    width: 15%;
}

.quote {
    font-family: 'Redressed', cursive;
    font-size: 30px;
     display: inline-block;
}




.skill-row {
    width: 50%;
    
    margin: 100px auto 100px auto;
   text-align: left;

}


.code-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.art-image {
    width: 25%;
    float: right;
    margin-left: 30px;
    border: 10px solid #ff8e71;
    border-radius: 50%;
}

.photo-image{
    width: 25%;
    float:left;
    margin-right: 30px;
}

.nature-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;    /*top leftAndRight bottom */
}

a {
    color: #111d5e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}


.bottom-container {
    background-color: #ff8e71;
    padding: 50px 0px 20px;
}

.btn {
    background: #F05454;
    background-image: -webkit-linear-gradient(top, #F05454, #FF4646);
    background-image: -moz-linear-gradient(top, #F05454, #FF4646);
    background-image: -ms-linear-gradient(top, #F05454, #FF4646);
    background-image: -o-linear-gradient(top, #F05454, #FF4646);
    background-image: -webkit-gradient(to bottom, #F05454, #FF4646);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 10px 0 #6D514A;
    -moz-box-shadow: 1px 1px 10px 0 #6D514A;
    box-shadow: 1px 1px 10px 0 #6D514A;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FF8E71 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FF8E71 1px;
    background: #FF8E71;
    background-image: -webkit-linear-gradient(top, #FF8E71, #FF8E71);
    background-image: -moz-linear-gradient(top, #FF8E71, #FF8E71);
    background-image: -ms-linear-gradient(top, #FF8E71, #FF8E71);
    background-image: -o-linear-gradient(top, #FF8E71, #FF8E71);
    background-image: -webkit-gradient(to bottom, #FF8E71, #FF8E71);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }



